.toggle-password {
    cursor: pointer;
}

.password-link-bg {
    background-color: #fff;
    box-shadow: 0px 0px 15px rgb(51 51 51 / 30%);
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    min-height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.page-item .current {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #000 !important;
}

.password-link-footer {
    background: #fff;
    padding: 20px;
    color: #444;
    border-top: 1px solid #d2d6de;
    margin-top: auto;
    text-align: center;
}

.password-link-body {
    max-width: 600px;
    margin: 0 auto;
}

.password-link-logo {
    text-align: center;
    margin-bottom: 20px;
}

.password-link-icon {
    padding: 0px 0px 30px 0px;
}

.password-link-icon em {
    font-size: 50px;
    color: #dd4b39;
}

.password-link-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* .bg-gray {
    color: #000;
    background-color: #d2d6de !important;
} */

.main-header .navbar-custom-menu,
.main-header .navbar-right {
    float: right;
}

.navbar-custom-menu {
    margin-right: 30px;
}

ul.navbar-nav {
    margin-right: 85%;
}

b,
strong {
    font-weight: bolder;
    color: black;
}

.dropdown-toggle {
    white-space: nowrap;
    color: black;
}


.content-header {
    padding: 3px !important;
}

/* .breadcrumb {
    padding: 8px 15px !important;
    /* margin-bottom: 20px !important;  */
/* list-style: none !important;
    background-color:#dee4e9 !important;
    border-radius: 4px !important; */
/* } */

.profile-img-new {
    position: relative;
}

.circle {
    /* border-radius: 1000px !important; */
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(243, 243, 243, 1);
    box-shadow: 0px 0px 15px rgb(51 51 51 / 50%);
}

.profile-pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e9967a;
    color: #fff;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 167px;
    left: 129px;
    color: #666666;
    box-shadow: 0px 0px 15px rgb(51 51 51 / 50%);
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image .upload-button {
    color: #fff;
}

.btn {
    box-shadow: none !important;
    border-radius: 0px !important;
}

.btn-info {
    background-color: #00c0ef !important;
    border-color: #00acd6 !important;
}


.upload-button {
    font-size: 1.2em;
}

.file-upload {
    display: none !important;
}

.form-group {
    margin-bottom: 15px;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #fff;
    cursor: pointer;
}

.field-eye-icon {
    float: left;
    margin-left: 280px;
    margin-top: -25px;
}

.curr-password .field-icon1 {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 15px;
}

.curr-password .admin-field-icon1 {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 15px;
}


.curr-password {
    position: relative;
}

.new-password .field-icon1 {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 15px;
}

.new-password .admin-field-icon1 {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 15px;
}


.new-password {
    position: relative;
}

.confirm-password .field-icon1 {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 15px;
}

.confirm-password .admin-field-icon1 {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 15px;
}

.confirm-password {
    position: relative;
}

.field-icon1 {
    margin-top: -25px;
    margin-left: 280px;
    position: absolute;
    z-index: 2;
}

.admin-field-icon1 {
    margin-top: -25px;
    margin-left: 720px;
    position: absolute;
    z-index: 2;
}

input.form-control.mark {
    height: 45px;
}

.btn-block {
    display: block !important;
    /* width: 305px !important; */
    margin-top: 10px !important;
}

label.error,
.help-block.help-block-error {
    color: #dc3545 !important;
    font-size: 16px !important;
    opacity: 1;
    font-weight: 500 !important;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.faq-table tbody td:last-child {
    min-width: 100px;
    text-align: center;
}

button.dt-button.buttons-excel.buttons-html5 {
    background-color: #007bff;
    color: aliceblue;
    border: double;
}
